flows.json
[
    {
        "id": "56f7088bd7b8cd6a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0a39326d15dc58f",
        "type": "inject",
        "z": "56f7088bd7b8cd6a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "c984b1087b2bd898",
                "ba10de90ea6bd985"
            ]
        ]
    },
    {
        "id": "c984b1087b2bd898",
        "type": "debug",
        "z": "56f7088bd7b8cd6a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "ba10de90ea6bd985",
        "type": "debug",
        "z": "56f7088bd7b8cd6a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 140,
        "wires": []
    }
]